# 1. 利用我们自己编写的windHelper包进行数据导入

In [35]:
from windHelper import WindHelper
from datetime import *
import numpy as np

利用windHelper接口从wind导入dataframe时间序列

In [23]:
code = "T1612.CFE"
paraList = ["settle", "volume","open"]
df = WindHelper.getWindTimeSeriesDataFrame(code=code, beginDate=datetime(2016,5,1),endDate=datetime(2016,12,11), paraList=paraList)
df.head()

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [13]:
df.index

DatetimeIndex(['2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06',
               '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12',
               '2016-05-13', '2016-05-16',
               ...
               '2016-11-28', '2016-11-29', '2016-11-30', '2016-12-01',
               '2016-12-02', '2016-12-05', '2016-12-06', '2016-12-07',
               '2016-12-08', '2016-12-09'],
              dtype='datetime64[ns]', name=u'trade_date', length=150, freq=None)

# 2. dataframe的seletion

使用index进行直接筛选，用日期类型的字符串代替日期类型(timestamp);
如果直接使用ix,则不能用字符串，但是可以用datetime(2016,5,13)

In [17]:
df[df.index=='20160513']

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

In [24]:
df.ix[[datetime(2016,5,13)]]

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

如果你使用字符串，也不会报错，但是返回结果是NaN

In [26]:
df.ix[['20160513']]

            open  settle  volume
trade_date
20160513     NaN     NaN     NaN

# 3. 找到你要找的index的行号

可以使用`get_loc`方法，但是注意只有index才有这个方法

In [44]:
df.index.get_loc('20160513')

8

In [61]:
df.index.get_loc(datetime(2016,5,13))

8

判断某个日期是否在index里面

In [67]:
datetime(2016,5,1) in df.index

False

找到过去离某个日期最近的日期

In [79]:
len(series[series.index>'20161001'])

45

In [95]:
series[series.index<='20160401']

Series([], Name: settle, dtype: float64)

In [90]:
series.index.get_loc('20161010')

105

# 4. 计算移动时间窗口和均值

在具体使用的时候我们觉得还是使用series类型比较好。

In [50]:
series = df["settle"]
series.head()

trade_date
2016-05-03    97.360
2016-05-04    97.465
2016-05-05    97.450
2016-05-06    97.470
2016-05-09    97.980
Name: settle, dtype: float64

In [52]:
series.name

u'settle'

In [91]:
series.iloc[0:2]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

# 计算因子有效性

In [93]:
df.head()

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [106]:
ts = series.index[1]
ts.day

4

In [101]:
series[series.index<=ts]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

In [107]:
def fun(x):
    return x.day

In [113]:
df = (series.to_frame())

In [116]:
df = df.pct_change()

In [117]:
df = df.dropna()

              settle
trade_date
2016-05-04  0.001078
2016-05-05 -0.000154
2016-05-06  0.000205
2016-05-09  0.005232
2016-05-10  0.001735
2016-05-11  0.000306
2016-05-12  0.002852
2016-05-13 -0.000914
2016-05-16 -0.002186
2016-05-17 -0.000917
2016-05-18 -0.002345
2016-05-19  0.000051
2016-05-20  0.002555
2016-05-23 -0.000357
2016-05-24  0.002295
2016-05-25  0.000763
2016-05-26 -0.000864
2016-05-27 -0.000560
2016-05-30 -0.000764
2016-05-31  0.001070
2016-06-01 -0.000051
2016-06-02 -0.001120
2016-06-03 -0.000102
2016-06-06  0.001172
2016-06-07 -0.000713
2016-06-08  0.000000
2016-06-13  0.001528
2016-06-14  0.003102
2016-06-15  0.001166
2016-06-16  0.003241
...              ...
2016-10-31 -0.002659
2016-11-01  0.000691
2016-11-02  0.000148
2016-11-03  0.001579
2016-11-04  0.000197
2016-11-07 -0.002315
2016-11-08 -0.000740
2016-11-09  0.000049
2016-11-10 -0.002519
2016-11-11  0.000347
2016-11-14 -0.001436
2016-11-15  0.000198
2016-11-16 -0.001090
2016-11-17 -0.002183
2016-11-18 -0.001193
2016-11-21  0.000647
2016-11-22  0.000199
2016-11-23  0.002786
2016-11-24 -0.000248
2016-11-25 -0.001340
2016-11-28  0.000696
2016-11-29 -0.005759
2016-11-30 -0.001049
2016-12-01 -0.006199
2016-12-02  0.000302
2016-12-05  0.006738
2016-12-06 -0.004895
2016-12-07 -0.004969
2016-12-08  0.003834
2016-12-09  0.000000

[149 rows x 1 columns]