# 1. 利用我们自己编写的windHelper包进行数据导入

In [11]:
from windHelper import WindHelper
from datetime import *
import numpy as np

利用windHelper接口从wind导入dataframe时间序列

In [12]:
code = "T1612.CFE"
paraList = ["settle", "volume","open"]
df = WindHelper.getWindTimeSeriesDataFrame(code=code, beginDate=datetime(2016,5,1),endDate=datetime(2016,12,11), paraList=paraList)
df.head()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [19]:
df.index

DatetimeIndex(['2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06',
               '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12',
               '2016-05-13', '2016-05-16',
               ...
               '2016-11-28', '2016-11-29', '2016-11-30', '2016-12-01',
               '2016-12-02', '2016-12-05', '2016-12-06', '2016-12-07',
               '2016-12-08', '2016-12-09'],
              dtype='datetime64[ns]', name=u'trade_date', length=150, freq=None)

In [20]:
series = df.settle

# 2. dataframe的seletion

使用index进行直接筛选，用日期类型的字符串代替日期类型(timestamp);
如果直接使用ix,则不能用字符串，但是可以用datetime(2016,5,13)

In [14]:
df[df.index=='20160513']

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

In [15]:
df.ix[[datetime(2016,5,13)]]

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

如果你使用字符串，也不会报错，但是返回结果是NaN

In [16]:
df.ix[['20160513']]

            open  settle  volume
trade_date
20160513     NaN     NaN     NaN

# 3. 找到你要找的index的行号

可以使用`get_loc`方法，但是注意只有index才有这个方法

In [44]:
df.index.get_loc('20160513')

8

In [61]:
df.index.get_loc(datetime(2016,5,13))

8

判断某个日期是否在index里面

In [67]:
datetime(2016,5,1) in df.index

False

找到过去离某个日期最近的日期

In [79]:
len(series[series.index>'20161001'])

45

In [136]:
series[series.index<='20160613']

trade_date
2016-05-03    97.360
2016-05-04    97.465
2016-05-05    97.450
2016-05-06    97.470
2016-05-09    97.980
2016-05-10    98.150
2016-05-11    98.180
2016-05-12    98.460
2016-05-13    98.370
2016-05-16    98.155
2016-05-17    98.065
2016-05-18    97.835
2016-05-19    97.840
2016-05-20    98.090
2016-05-23    98.055
2016-05-24    98.280
2016-05-25    98.355
2016-05-26    98.270
2016-05-27    98.215
2016-05-30    98.140
2016-05-31    98.245
2016-06-01    98.240
2016-06-02    98.130
2016-06-03    98.120
2016-06-06    98.235
2016-06-07    98.165
2016-06-08    98.165
2016-06-13    98.315
Name: settle, dtype: float64

In [18]:
series.index.get_loc('20161010')

NameError: name 'series' is not defined

# 4. 计算移动时间窗口和均值

在具体使用的时候我们觉得还是使用series类型比较好。

In [24]:
series[(series.index >= datetime(2016,10,1)) & (series.index < datetime(2016,12,1))]

trade_date
2016-10-10    101.525
2016-10-11    101.440
2016-10-12    101.280
2016-10-13    101.405
2016-10-14    101.470
2016-10-17    101.500
2016-10-18    101.465
2016-10-19    101.665
2016-10-20    101.875
2016-10-21    101.935
2016-10-24    101.655
2016-10-25    101.495
2016-10-26    101.230
2016-10-27    101.510
2016-10-28    101.535
2016-10-31    101.265
2016-11-01    101.335
2016-11-02    101.350
2016-11-03    101.510
2016-11-04    101.530
2016-11-07    101.295
2016-11-08    101.220
2016-11-09    101.225
2016-11-10    100.970
2016-11-11    101.005
2016-11-14    100.860
2016-11-15    100.880
2016-11-16    100.770
2016-11-17    100.550
2016-11-18    100.430
2016-11-21    100.495
2016-11-22    100.515
2016-11-23    100.795
2016-11-24    100.770
2016-11-25    100.635
2016-11-28    100.705
2016-11-29    100.125
2016-11-30    100.020
Name: settle, dtype: float64

In [31]:
series[0:2][0:-1]

trade_date
2016-05-05    97.45
Name: settle, dtype: float64

In [91]:
series.iloc[0:2]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

# 计算因子有效性

In [93]:
df.head()

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [106]:
ts = series.index[1]
ts.day

4

In [101]:
series[series.index<=ts]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

In [107]:
def fun(x):
    return x.day

In [142]:
df = (series.to_frame())

In [143]:
df = df.pct_change()
df

              settle
trade_date
2016-05-03       NaN
2016-05-04  0.001078
2016-05-05 -0.000154
2016-05-06  0.000205
2016-05-09  0.005232
2016-05-10  0.001735
2016-05-11  0.000306
2016-05-12  0.002852
2016-05-13 -0.000914
2016-05-16 -0.002186
2016-05-17 -0.000917
2016-05-18 -0.002345
2016-05-19  0.000051
2016-05-20  0.002555
2016-05-23 -0.000357
2016-05-24  0.002295
2016-05-25  0.000763
2016-05-26 -0.000864
2016-05-27 -0.000560
2016-05-30 -0.000764
2016-05-31  0.001070
2016-06-01 -0.000051
2016-06-02 -0.001120
2016-06-03 -0.000102
2016-06-06  0.001172
2016-06-07 -0.000713
2016-06-08  0.000000
2016-06-13  0.001528
2016-06-14  0.003102
2016-06-15  0.001166
...              ...
2016-10-31 -0.002659
2016-11-01  0.000691
2016-11-02  0.000148
2016-11-03  0.001579
2016-11-04  0.000197
2016-11-07 -0.002315
2016-11-08 -0.000740
2016-11-09  0.000049
2016-11-10 -0.002519
2016-11-11  0.000347
2016-11-14 -0.001436
2016-11-15  0.000198
2016-11-16 -0.001090
2016-11-17 -0.002183
2016-11-18 -0.001193
2016-11-21  0.000647
2016-11-22  0.000199
2016-11-23  0.002786
2016-11-24 -0.000248
2016-11-25 -0.001340
2016-11-28  0.000696
2016-11-29 -0.005759
2016-11-30 -0.001049
2016-12-01 -0.006199
2016-12-02  0.000302
2016-12-05  0.006738
2016-12-06 -0.004895
2016-12-07 -0.004969
2016-12-08  0.003834
2016-12-09  0.000000

[150 rows x 1 columns]

In [144]:
df = df.dropna()

In [10]:
ss = df.settle

NameError: name 'df' is not defined

In [146]:
(df/100+1)

              settle
trade_date
2016-05-04  1.000011
2016-05-05  0.999998
2016-05-06  1.000002
2016-05-09  1.000052
2016-05-10  1.000017
2016-05-11  1.000003
2016-05-12  1.000029
2016-05-13  0.999991
2016-05-16  0.999978
2016-05-17  0.999991
2016-05-18  0.999977
2016-05-19  1.000001
2016-05-20  1.000026
2016-05-23  0.999996
2016-05-24  1.000023
2016-05-25  1.000008
2016-05-26  0.999991
2016-05-27  0.999994
2016-05-30  0.999992
2016-05-31  1.000011
2016-06-01  0.999999
2016-06-02  0.999989
2016-06-03  0.999999
2016-06-06  1.000012
2016-06-07  0.999993
2016-06-08  1.000000
2016-06-13  1.000015
2016-06-14  1.000031
2016-06-15  1.000012
2016-06-16  1.000032
...              ...
2016-10-31  0.999973
2016-11-01  1.000007
2016-11-02  1.000001
2016-11-03  1.000016
2016-11-04  1.000002
2016-11-07  0.999977
2016-11-08  0.999993
2016-11-09  1.000000
2016-11-10  0.999975
2016-11-11  1.000003
2016-11-14  0.999986
2016-11-15  1.000002
2016-11-16  0.999989
2016-11-17  0.999978
2016-11-18  0.999988
2016-11-21  1.000006
2016-11-22  1.000002
2016-11-23  1.000028
2016-11-24  0.999998
2016-11-25  0.999987
2016-11-28  1.000007
2016-11-29  0.999942
2016-11-30  0.999990
2016-12-01  0.999938
2016-12-02  1.000003
2016-12-05  1.000067
2016-12-06  0.999951
2016-12-07  0.999950
2016-12-08  1.000038
2016-12-09  1.000000

[149 rows x 1 columns]

In [33]:
(df/100+1).cumprod().head()

                 open     settle      volume
trade_date
2016-05-03   1.971850   1.973600    3.470000
2016-05-04   3.891347   3.897169   14.088200
2016-05-05   7.681909   7.694961   31.134922
2016-05-06  15.165624  15.195239  144.154689
2016-05-09  29.967274  30.083534  838.980289

In [32]:
import numpy as np
list = [1,-1,3,4]
np.sum(np.array(list) > 0)*1.0/len(list)

0.75

In [52]:
import pandas as pd
(df.index[1] - df.index[0]).days

2L