# 1. 利用我们自己编写的windHelper包进行数据导入

In [2]:
from windHelper import WindHelper
from datetime import *
import numpy as np

利用windHelper接口从wind导入dataframe时间序列

In [41]:
code = "T1612.CFE"
paraList = ["settle", "volume","open"]
df = WindHelper.getWindTimeSeriesDataFrame(code=code, beginDate=datetime(2016,5,1),endDate=datetime(2016,12,11), paraList=paraList)
df.head()

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [44]:
settle = df.settle

In [45]:
settle.pct_change()

trade_date
2016-05-03         NaN
2016-05-04    0.001078
2016-05-05   -0.000154
2016-05-06    0.000205
2016-05-09    0.005232
2016-05-10    0.001735
2016-05-11    0.000306
2016-05-12    0.002852
2016-05-13   -0.000914
2016-05-16   -0.002186
2016-05-17   -0.000917
2016-05-18   -0.002345
2016-05-19    0.000051
2016-05-20    0.002555
2016-05-23   -0.000357
2016-05-24    0.002295
2016-05-25    0.000763
2016-05-26   -0.000864
2016-05-27   -0.000560
2016-05-30   -0.000764
2016-05-31    0.001070
2016-06-01   -0.000051
2016-06-02   -0.001120
2016-06-03   -0.000102
2016-06-06    0.001172
2016-06-07   -0.000713
2016-06-08    0.000000
2016-06-13    0.001528
2016-06-14    0.003102
2016-06-15    0.001166
                ...
2016-10-31   -0.002659
2016-11-01    0.000691
2016-11-02    0.000148
2016-11-03    0.001579
2016-11-04    0.000197
2016-11-07   -0.002315
2016-11-08   -0.000740
2016-11-09    0.000049
2016-11-10   -0.002519
2016-11-11    0.000347
2016-11-14   -0.001436
2016-11-15    0.000198
2016-11-16   -0.001090
2016-11-17   -0.002183
2016-11-18   -0.001193
2016-11-21    0.000647
2016-11-22    0.000199
2016-11-23    0.002786
2016-11-24   -0.000248
2016-11-25   -0.001340
2016-11-28    0.000696
2016-11-29   -0.005759
2016-11-30   -0.001049
2016-12-01   -0.006199
2016-12-02    0.000302
2016-12-05    0.006738
2016-12-06   -0.004895
2016-12-07   -0.004969
2016-12-08    0.003834
2016-12-09    0.000000
Name: settle, dtype: float64

# 2. dataframe的seletion

使用index进行直接筛选，用日期类型的字符串代替日期类型(timestamp);
如果直接使用ix,则不能用字符串，但是可以用datetime(2016,5,13)

In [5]:
df[df.index=='20160513']

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

In [6]:
df.ix[[datetime(2016,5,13)]]

              open  settle  volume
trade_date
2016-05-13  98.545   98.37   692.0

如果你使用字符串，也不会报错，但是返回结果是NaN

In [7]:
df.ix[['20160513']]

            open  settle  volume
trade_date
20160513     NaN     NaN     NaN

# 3. 找到你要找的index的行号

可以使用`get_loc`方法，但是注意只有index才有这个方法

In [8]:
df.index.get_loc('20160513')

8

In [9]:
df.index.get_loc(datetime(2016,5,13))

8

判断某个日期是否在index里面

In [10]:
datetime(2016,5,1) in df.index

False

找到过去离某个日期最近的日期

In [11]:
len(series[series.index>'20161001'])

45

In [12]:
series[series.index<='20160613']

trade_date
2016-05-03    97.360
2016-05-04    97.465
2016-05-05    97.450
2016-05-06    97.470
2016-05-09    97.980
2016-05-10    98.150
2016-05-11    98.180
2016-05-12    98.460
2016-05-13    98.370
2016-05-16    98.155
2016-05-17    98.065
2016-05-18    97.835
2016-05-19    97.840
2016-05-20    98.090
2016-05-23    98.055
2016-05-24    98.280
2016-05-25    98.355
2016-05-26    98.270
2016-05-27    98.215
2016-05-30    98.140
2016-05-31    98.245
2016-06-01    98.240
2016-06-02    98.130
2016-06-03    98.120
2016-06-06    98.235
2016-06-07    98.165
2016-06-08    98.165
2016-06-13    98.315
Name: settle, dtype: float64

In [13]:
series.index.get_loc('20161010')

105

# 4. 计算移动时间窗口和均值

在具体使用的时候我们觉得还是使用series类型比较好。

In [14]:
series[(series.index >= datetime(2016,10,1)) & (series.index < datetime(2016,12,1))]

trade_date
2016-10-10    101.525
2016-10-11    101.440
2016-10-12    101.280
2016-10-13    101.405
2016-10-14    101.470
2016-10-17    101.500
2016-10-18    101.465
2016-10-19    101.665
2016-10-20    101.875
2016-10-21    101.935
2016-10-24    101.655
2016-10-25    101.495
2016-10-26    101.230
2016-10-27    101.510
2016-10-28    101.535
2016-10-31    101.265
2016-11-01    101.335
2016-11-02    101.350
2016-11-03    101.510
2016-11-04    101.530
2016-11-07    101.295
2016-11-08    101.220
2016-11-09    101.225
2016-11-10    100.970
2016-11-11    101.005
2016-11-14    100.860
2016-11-15    100.880
2016-11-16    100.770
2016-11-17    100.550
2016-11-18    100.430
2016-11-21    100.495
2016-11-22    100.515
2016-11-23    100.795
2016-11-24    100.770
2016-11-25    100.635
2016-11-28    100.705
2016-11-29    100.125
2016-11-30    100.020
Name: settle, dtype: float64

In [15]:
series[0:2][0:-1]

trade_date
2016-05-03    97.36
Name: settle, dtype: float64

In [16]:
series.iloc[0:2]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

# 计算因子有效性

In [17]:
df.head()

              open  settle  volume
trade_date
2016-05-03  97.185  97.360   247.0
2016-05-04  97.345  97.465   306.0
2016-05-05  97.410  97.450   121.0
2016-05-06  97.420  97.470   363.0
2016-05-09  97.600  97.980   482.0

In [18]:
ts = series.index[1]
ts.day

4

In [19]:
series[series.index<=ts]

trade_date
2016-05-03    97.360
2016-05-04    97.465
Name: settle, dtype: float64

In [20]:
def fun(x):
    return x.day

In [21]:
df = (series.to_frame())

In [33]:
df = df.pct_change()
ss = df.settle
df

                  settle
trade_date
2016-05-04           NaN
2016-05-05           NaN
2016-05-06           NaN
2016-05-09           NaN
2016-05-10           NaN
2016-05-11           NaN
2016-05-12           NaN
2016-05-13 -9.876339e-01
2016-05-16  8.578808e-01
2016-05-17 -3.194426e-01
2016-05-18  1.053404e+01
2016-05-19 -9.164262e-01
2016-05-20  3.968058e+01
2016-05-23 -9.795051e-01
2016-05-24 -6.338190e+00
2016-05-25 -1.149630e+00
2016-05-26 -3.350857e+00
2016-05-27 -1.316919e+00
2016-05-30  3.677981e+00
2016-05-31 -4.417929e-01
2016-06-01 -1.455013e+00
2016-06-02 -1.849699e+01
2016-06-03 -9.185429e-01
2016-06-06 -1.351981e+01
2016-06-07 -1.071188e+00
2016-06-08 -4.095329e-01
2016-06-13           inf
2016-06-14 -1.000000e+00
2016-06-15  6.058028e-01
2016-06-16  1.488017e+00
...                  ...
2016-10-31  1.287896e-01
2016-11-01 -8.259081e-01
2016-11-02 -4.460130e-01
2016-11-03  5.009144e+02
2016-11-04 -9.960145e-01
2016-11-07 -1.443004e+01
2016-11-08 -1.068378e+00
2016-11-09 -1.477373e+00
2016-11-10  1.549450e+02
2016-11-11 -1.014385e+00
2016-11-14 -4.583188e+00
2016-11-15 -1.205329e+00
2016-11-16 -8.132045e+00
2016-11-17 -1.162253e+00
2016-11-18  6.569635e-01
2016-11-21 -1.306883e+01
2016-11-22 -1.066047e+00
2016-11-23  5.051719e+01
2016-11-24 -9.822663e-01
2016-11-25  3.784622e+00
2016-11-28 -7.532894e-01
2016-11-29 -6.374335e+00
2016-11-30 -1.123527e+00
2016-12-01  8.905400e+00
2016-12-02 -8.600265e-01
2016-12-05  1.919158e+01
2016-12-06 -9.528252e-01
2016-12-07 -1.714105e-01
2016-12-08  1.770217e+04
2016-12-09 -9.999353e-01

[149 rows x 1 columns]

In [23]:
df = df.dropna()

In [24]:
df["settle"]

trade_date
2016-05-04    0.001078
2016-05-05   -0.000154
2016-05-06    0.000205
2016-05-09    0.005232
2016-05-10    0.001735
2016-05-11    0.000306
2016-05-12    0.002852
2016-05-13   -0.000914
2016-05-16   -0.002186
2016-05-17   -0.000917
2016-05-18   -0.002345
2016-05-19    0.000051
2016-05-20    0.002555
2016-05-23   -0.000357
2016-05-24    0.002295
2016-05-25    0.000763
2016-05-26   -0.000864
2016-05-27   -0.000560
2016-05-30   -0.000764
2016-05-31    0.001070
2016-06-01   -0.000051
2016-06-02   -0.001120
2016-06-03   -0.000102
2016-06-06    0.001172
2016-06-07   -0.000713
2016-06-08    0.000000
2016-06-13    0.001528
2016-06-14    0.003102
2016-06-15    0.001166
2016-06-16    0.003241
                ...
2016-10-31   -0.002659
2016-11-01    0.000691
2016-11-02    0.000148
2016-11-03    0.001579
2016-11-04    0.000197
2016-11-07   -0.002315
2016-11-08   -0.000740
2016-11-09    0.000049
2016-11-10   -0.002519
2016-11-11    0.000347
2016-11-14   -0.001436
2016-11-15    0.000198
2016-11-16   -0.001090
2016-11-17   -0.002183
2016-11-18   -0.001193
2016-11-21    0.000647
2016-11-22    0.000199
2016-11-23    0.002786
2016-11-24   -0.000248
2016-11-25   -0.001340
2016-11-28    0.000696
2016-11-29   -0.005759
2016-11-30   -0.001049
2016-12-01   -0.006199
2016-12-02    0.000302
2016-12-05    0.006738
2016-12-06   -0.004895
2016-12-07   -0.004969
2016-12-08    0.003834
2016-12-09    0.000000
Name: settle, dtype: float64

In [25]:
df.apply(lambda x: x.index>0)

TypeError: ("<type 'int'> type object 0", u'occurred at index settle')

In [ ]:
(df/100+1).cumprod().head()

In [ ]:
import numpy as np
list = [1,-1,3,4]
np.sum(np.array(list) > 0)*1.0/len(list)

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,3,5], index=[1,2,3,4,5])
s

In [21]:
import pandas as pd
df = pd.DataFrame({'date':[datetime(2013,1,1).date() + timedelta(days=i) for i in range(0,365*2)], 'xmas':np.zeros(365*2)})
df.set_index("date", inplace=True)
pd.to_datetime(df.index)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
               '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
               '2014-12-30', '2014-12-31'],
              dtype='datetime64[ns]', name=u'date', length=730, freq=None)